body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  background-color: var(--back-color);
}

:root {
  --text-logo: #4d5ae5;
  --color-nav: #2e2f42;
  --color-text: #434455;
  --back-color: #ffffff;
  --back-second-color: #2e2f42;
  --color-footer: #f4f4fd;
  --color-button: #404bbf;
}

/*! --------Header----------- */
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-logo);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.header-logo span {
  color: var(--color-nav);
}

.list {
  list-style: none;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-container {
  display: flex;
  padding-top: 24px;
  padding-right: 24px;
}

.header-logo {
  margin-right: 76px;
}

.header-menu {
  display: flex;
}

.header-menu-list {
  padding-right: 40px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-nav);
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--color-button);
}
/*! --------------ADDRESS---------------- */
.header-add {
  font-style: normal;
  margin-left: auto;
}

.header-add-list {
  display: flex;
}

.header-add-item {
  padding-right: 40px;
}

.header-add-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.header-add-link:hover,
.header-add-link:focus {
  color: var(--color-button);
}

/*! --------------HERO---------------- */
.hero-container {
  background-color: var(--back-second-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--back-color);
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 188px 292px;
}

.hero-bt {
  background-color: var(--text-logo);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--back-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.hero-bt:hover,
.hero-bt:focus {
  background-color: var(--color-button);
}

/*! --------------SECTION1---------------- */

.table {
  padding: 120px 156px;
}

.table-item {
  width: calc(100% - 72px) / 4;
}

.table-list {
  display: flex;
  gap: 24px;
}

.table-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-nav);
  padding-bottom: 8px;
}

.table-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*! --------------SECTION2---------------- */
.work-list {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-nav);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: calc(100%-48px) / 3;
}

.work-im {
  display: flex;
  flex-wrap: wrap;
}

.work-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-nav);
  display: block;
  padding-top: 120px;
  padding-bottom: 72px;
}

/*! --------------SECTION3---------------- */

.team {
  background-color: var(--color-footer);
}


.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-nav);
  padding: 120px 639px 72px;
}
.team-item {
  background-color: var(--back-color);
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-nav);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* .container-card {
  display: flex;
  flex-direction: column; */
}

/*! --------------FOOTER---------------- */
.footer {
  background-color: var(--back-second-color);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-logo);
}

.footer-logo span {
  color: var(--color-footer);
}

.footer-text {
  line-height: 1.5;
  color: var(--color-footer);
  letter-spacing: 0.02em;
}
/*! --------------PORTFOLIO---------------- */

/*! --------------PORTFOLIO HEADER---------------- */

.folio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-logo);
}

.folio-logo span {
  color: var(--color-nav);
}

.folio-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-nav);
}

.folio-menu-link:hover,
.folio-menu-link:focus {
  color: var(--color-button);
}

.folio-add {
  font-style: normal;
}

.folio-add-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.folio-add-link:hover,
.folio-add-link:focus {
  color: var(--color-button);
}

/*! --------------PORTFOLIO FILTERS---------------- */

.menu-bt {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-logo);
  background-color: var(--color-footer);
  cursor: pointer;
}

.menu-bt:hover,
.menu-bt:focus {
  color: var(--back-color);
  background-color: var(--color-button);
}
/*! --------------PORTFOLIO ROW---------------- */

.menu-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-nav);
}
.menu-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
